{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>{{ appname }}</h1>
    <h2>Name: {{ name }}</h2>
    <h2>Class: {{ class }}</h2>

    <table border="5">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date Added</th>
        </tr>

        {% for product in products %}
            <tr id="elemenHapus">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />
    
    <button onclick="hapusElemen()"> Delete Product </button>

    <script>
        function hapusElemen() {
            var elemen = document.getElementById("elemenHapus");
            elemen.remove();
        }
    </script>

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    </center>  
{% endblock content %}