{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background-image: url("https://mcdn.wallpapersafari.com/medium/37/96/7MWTkO.jpeg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: "Comic Sans MS", Times, serif;
        }

        .information-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            max-width: 100%;
        }

        #addproduct{
            font-weight: bold;
            cursor: pointer;
            padding: 5px 5px;
            margin-top: 5px; 
        }

        #button {
                font-weight: bold;
                cursor: pointer;
                padding: 5px;
                width: 100%;
        }

        h1 {
            padding: 10px;
        }

        h2 {
            padding: 10px;
        }

        h3 {
            padding: 10px;
        }
    </style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
        {{ name }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}">Home</a>
        <a class="nav-link" href="{% url 'main:show_product' %}">List Product</a>
        <a class="nav-link" href="{% url 'main:create_product' %}">New Product</a>
        <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
        </div>
    </div>
    </div>
</nav>

<div class="information-box">
    <center>
        <h1>Welcome To {{ appname }}</h1>
        <h2>Name: {{ name }}</h2>
        <h2>Class: {{ class }}</h2>
        <h3>Sesi terakhir login: {{ last_login }}</h3>
    </center>
</div>
{% endblock content %}